@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: linear-gradient(to right, #2c3e50, #000000);
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

*::selection {
    /*Meu estilo */
    cursor: none;
}

a {
    text-decoration: none;
}

p::selection {
    /*Meu estilo */
    color: lightblue;
}

h1::selection,
span::selection {
    /*Meu estilo */
    color: var(--cor-terciaria);
}

strong::selection {
    /*Meu estilo */
    color: var(--cor-secundaria);
}

body{
    box-sizing: border-box;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 23.59%; /*2% 0% 0% 21.5%; meu tamanho*/
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.apresentacao{
    padding: 8% 20.76%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}
.apresentacao__links__subtitulos{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.6rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    color: #22D4FD;
    background-color: var(--cor-secundaria);
}

.apresentacao__links__navegacao:active {
    /*Meu estilo */
    color: #22D4FD;
    text-shadow:#1ab5d8 1px 1px 9px;
}

.apresentacao__imagem{
    width: 35%;
    
    bottom: 75px;
    filter: grayscale(100%);
    transition: 0.6s;
    border-radius: 5px;
    border: ridge 3px 
}

.apresentacao__imagem:hover {
    filter: grayscale(0%);
    box-shadow: 0px 1.90px 10px 4px var(--cor-terciaria);
    border-radius: 5px;
    border: ridge 2px rgb(29, 144, 216)
}

.rodape{
/*     color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400; */
	
	    color: #000000;
    background-color: var(--cor-terciaria);
    width: 100%;
    padding: 10px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-top: 3.5%;
    position: relative;
    bottom: 0;
}

.mae-anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    float: left;
    position: fixed;
    top: 3.39%;
    left: 1%;
    animation: fadeIn 4.10s infinite;
}

.anuncio {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: var(--cor-terciaria) 4px solid;
    box-shadow: 0px 1.90px 10px 4px var(--cor-terciaria);

}
#time {
    font-size: 1rem;
    font-weight: bolder;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    float: left;
    position: fixed;
    top: 4.46%;
    left: 10%;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 5;
    }

    100% {
        opacity: 0;
    }
}
/* sobre @media querry, se a tela chegar nesta resolução ''execute o codigo abaixo' somente quando a condição for verdadeira*/
@media  (max-width: 1144px) {

    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao {
      flex-direction: column-reverse;
        padding: 20%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
  }
