@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:  linear-gradient(to right, #2c3e50, #000000);
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD ;
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

*::selection{ /*Meu estilo */
    cursor: none;
}

a{
    text-decoration: none;
}
p::selection { /*Meu estilo */
    color: lightblue;
}
h1::selection, span::selection{ /*Meu estilo */
    color:var(--cor-terciaria);
}
strong::selection{ /*Meu estilo */
    color:var(--cor-secundaria);
}
body{
    /* height: 100vh; */
    background:var(--cor-primaria);
    color:var(--cor-secundaria);
    overflow: hidden; 
}

.titulo-destaque{
    color:var(--cor-terciaria);
}

.apresentacao{
    padding: 6% ;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 80px;
}
.apresentacao__conteudo{
    width: 32rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    left: 23.68%;
    top: 15%;
}

.apresentacao__conteudo__titulo{
    font-size: 30px;
    font-family: var(--fonte-primaria)
}

.apresentacao__conteudo__texto{
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    text-align: center;
}

.apresentacao__links__subtitulos{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--fonte-primaria)
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border: var(--cor-terciaria) 2px solid;
    width: 321px;
    height: 59px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-secundaria); /*Meu estilo */
    font-family: var(--fonte-secundaria);
    display: flex;

    
}


.apresentacao__links__link:hover{ /*Meu estilo */
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    cursor:pointer;
    color: var(--cor-terciaria);
}
.apresentacao__links__link>img:hover{
    width: 32px;
    height: 32px;
    background-color: var(--cor-secundaria);
    border-radius: 80px;
}

.apresentacao__links__link:active{ /*Meu estilo */
    color: var(--cor-terciaria);
}


.imgk  { 
    color: var(--cor-terciaria);
    width: 400Px;
/*     height: 720px; */
    border-radius: 5px;
    position: fixed;
    left: 55%;
    top: 15%;
    filter: grayscale(100%); 
    transition: filter 0.6s;

}
  
.imgk:hover {
    filter: grayscale(0%);
}

#borda__img{
     box-shadow: 0px 1.90px 10px 4px var(--cor-terciaria); 
     width: 399px;
     height: 590px; 
     border-radius: 5px;
     position: fixed;
     left: 55%;
     top: 15%;        
}

.mae-anuncio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    float: left;
    position: fixed;
    top: 20px;
    left: 20px; 
    animation: fadeIn 4.10s infinite ;
}
.anuncio{
    border-radius: 100px;
    width:  30px;
    height: 30px;
    border: var(--cor-terciaria) 4px solid;
    box-shadow: 0px 1.90px 10px 4px var(--cor-terciaria); 

}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 5;}
    100% {opacity: 0;}
}

.cabecalho{
    padding: 2% 0% 0% 21.5%;
    display: flex;
    gap: 80px;
    position: relative;
    left: 1.84%;
}
    
.cabecalho__menu{
    display: flex;
    gap: 60px;
    justify-content: initial;
    margin-left: 0.4%;
    position: fixed;
    top: 2.50%;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover{
    color:  var(--cor-secundaria);
}

.rodape{
    color: #000000;
    background-color: var(--cor-terciaria);
    width: 100%;
    padding: 10px;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    text-align: center;
    font-weight:500;
    margin-top: 3.5%;
    position: fixed;
    bottom: 0;
}

#time{
    font-size: 1em;
    font-weight: bolder;
    font-family: var(--fonte-secundaria);
    color:  var(--cor-secundaria);
    float: left;
    position: fixed;
    top: 2.99%;
    left: 70px;
}
    
    margin-left: 570px;
}
